/*main text color #212121
suplementory text color #757575;
accent color #2196F3;
white background: #FFFFFF;
hero background: #2F303A;
block 2 background #E5E5E5;
our team background: #F5F4FA;
footer background: #2F303A;

contacts in the footer background: rgba(255, 255, 255, 0.6);*/
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-main-color: #e5e5e5;
  --header-studio: #000000;
  --hero-background: #2f303a;
  --clear-white: #ffffff;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --logo2-footer: rgba(255, 255, 255, 1);
  --button-sorting: #f5f4fa;
}
body {
  background-color: var(--background-main-color);
  font-family: "Roboto", "Serif";
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 24px;
}

.list {
  list-style: none;
}

/* header */
.logo {
  font-family: "Raleway", "Sans-serif";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo1 {
  color: var(--accent-color);
}
.logo2 {
  color: var(--header-studio);
}
/*navigation*/
.site_nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site_nav:hover {
  color: var(--accent-color) 3;
}
/* contacts*/
.contact {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
/* End of header */

/* hero */
.hero {
  background-color: var(--hero-background);
}
.hero_heading {
  color: var(--clear-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--clear-white);
}
/* end of hero */

/* sections */
.section {
}
.section_heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--title-text-color);
}
.section_team_heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--title-text-color);
}
/* End of sections */

/* page 2 */
.button-sorting {
  color: var(--title-text-color);
  background-color: var(--button-sorting);
}
.button-sorting:focus,
.button-sorting:hover {
  color: var(--button-sorting);
  background-color: var(--accent-color);
}
.title2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* End of page 2 */

/* footer */
.logo2-footer {
  color: var(--logo2-footer);
}
.contact-footer {
  color: var(--contact-footer);
  letter-spacing: 0.03em;
}
address {
  color: var(--clear-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* footer */
