:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-main-color: #e5e5e5;
  --header-studio: #000000;
  --hero-background: #2f303a;
  --clear-white: #ffffff;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --logo2-footer: rgba(255, 255, 255, 1);
  --button-sorting: #f5f4fa;
  --button-focus: #188CE8;
}
body {
  background-color: var(--background-main-color);
  font-family: "Roboto", "Serif";
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 24px;
}
.list {
  list-style: none;
}
/* header */
.logo {
  font-family: "Raleway", "Sans-serif";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo_ptOne {
  color: var(--accent-color);
}
.logo_ptTwo {
  color: var(--header-studio);
}
/*navigation*/
.site_nav {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
}
.site_nav:hover,
.site_nav:focus {
  color: var(--accent-color);
}
/* contacts*/
.contact {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.17;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
/* End of header */
/* hero */
.hero {
  background-color: var(--hero-background);
}
.hero_heading {
  color: var(--clear-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  cursor: pointer;
  background: var(--accent-color);
  
}
.button:focus,
.button:hover {
  background: var(--button-focus);
;
}
.button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--clear-white);
}
/* end of hero */
/* sections */
.section_heading {
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
}
.section_team_heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--title-text-color);
}
/* End of sections */

/* page 2 */
.button-sorting {
  color: var(--title-text-color);
  background-color: var(--button-sorting);
}
.button-sorting:focus,
.button-sorting:hover {
  color: var(--button-sorting);
  background-color: var(--accent-color);
}
.title2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* End of page 2 */
/* footer */
.logoTwo-footer {
  color: var(--logo2-footer);
}
.contact-footer {
  color: var(--contact-footer);
  letter-spacing: 0.03em;
}
address {
  color: var(--clear-white);
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* footer */
